.coverage
.git/
logs/
!src/packastack/logs/
!tests/logs/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
**/*.pyc
**/__pycache__/*

# LLM Temporary Files
.desloppify/
plans/

# Symlinks
cache
config.yaml

# IDE Settings
.vscode/
